<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lookbook 게시글 작성</title>
  <link rel="stylesheet" th:href="@{/css/lookbook.css}">
</head>
<body>
<div class="container">
  <h1>새 게시글</h1>
  <form th:action="@{/fashionlog/lookbook/new}" th:object="${lookbookDto}" method="post">
    <div>
      <label for="memberId">회원 아이디:</label>
      <input type="text" id="memberId" th:field="*{memberId}" placeholder="회원 아이디">
    </div>
    <div>
      <label for="title">제목:</label>
      <input type="text" id="title" th:field="*{title}" placeholder="제목">
    </div>
    <div>
      <label for="content">내용:</label>
      <textarea id="content" th:field="*{content}" placeholder="내용"></textarea>
    </div>
    <div>
      <label for="postStatus">Post Status:</label>
      <input type="checkbox" id="postStatus" th:field="*{postStatus}">
    </div>
    <div>
      <input type="submit" value="게시하기">
    </div>
  </form>
</div>
</body>
</html>