<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>자유 게시글 상세보기</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- 글 상세 보기 -->
<h1>제목</h1>
<div class="post-detail" th:if="${post.isPresent()}">
  <h2 th:text="${post.get().title}">Title</h2>
  <p class="post-meta">
    작성자: <span>Member</span>
    작성일: <span th:text="${post.get().createdAt}">CreatedAt</span>
  </p>
  <div class="post-content" th:text="${post.get().content}">Content</div>
  <div class="post-actions">
    <a th:href="@{/fashionlog/freeboard}">목록으로</a>
    <a th:href="@{/fashionlog/freeboard/{id}/edit(id=${post.get().id})}" class="edit-btn">수정</a>
    <form th:action="@{/fashionlog/freeboard/{id}/delete(id=${post.get().id})}" method="post"
          class="delete-form">
      <button type="submit">삭제</button>
    </form>
  </div>
</div>
<!-- 댓글 작성 -->
<h3>댓글 작성</h3>
<form th:action="@{/fashionlog/freeboard/{postid}/comment(id=${post.get().id})}" method="post">
  <div>
    <label for="content">내용</label>
    <textarea id="content" name="content"></textarea>
  </div>
  <button type="submit">작성 완료</button>
</form>
<!-- 댓글 목록 -->
<div class="post-comments">
  <table>
    <thead>
    <tr>
      <th>작성자</th>
      <th>내용</th>
      <th>작성일</th>
      <th>수정 버튼</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
      <td>작성자</td>
      <td th:text="${comment.content}"></td>
      <td th:text="${comment.createdAt}"></td>
      <td>
        <button
            th:attr="onclick=|showEditForm(${comment.postId}, ${comment.id}, '${comment.content}')|">
          수정
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- 수정 폼 -->
<div id="editForm" style="display:none;">
  <h2>댓글 수정</h2>
  <form
      th:action="@{/fashionlog/freeboard/{postid}/edit-comment/{commentid}(postid=${editPostId}, commentid=${editCommentId})}"
      th:method="post">
    <input type="hidden" th:field="*{postId}" th:value="${editPostId}"/>
    <input type="hidden" th:field="*{commentId}" th:value="${editCommentId}"/>
    <div>
      <label for="content">내용:</label>
      <input type="text" id="content" name="content" th:value="${editContent}"/>
    </div>
    <button type="submit">수정</button>
  </form>
</div>

<!-- 수정 폼 띄우기 스크립트 임시 -->
<script>
  function showEditForm(postId, commentId, content) {
    document.getElementById('editForm').style.display = 'block';
    document.querySelector('input[name="content"]').value = content;
    document.querySelector(
        'form').action = `/fashionlog/freeboard/${postId}/edit-comment/${commentId}`;
  }
</script>
</body>
</html>