<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Daily Look List</title>
</head>
<body>
<h1>Daily Look</h1>
<table>
  <thead>
  <tr>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post:${dailylooks}">
    <td>
      <a th:text="${post.title}" th:href="@{/fashionlog/dailylook/{id}(id=${post.id})}">제목</a>
    </td>
    <td>작성자</td>
    <!-- updateAt이 null 이 아니면 updateAt 표시 -->
    <td th:if="${post.updatedAt != null}" th:text="${post.updatedAt}">작성일</td>
    <td th:unless="${post.updatedAt != null}" th:text="${post.createdAt}">작성일</td>
  </tr>
  </tbody>
</table>
<a th:href="@{/fashionlog/dailylook/new}">새 글 작성</a>
</body>
</html>